@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
}
@font-face {
    font-family: "Miulish";
    src: url(../fonts/Mulish-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2  {
    color: #110E47;
    font-family: "Merriweather", 'Times New Roman', Times, serif;
}

.--flex {
    display: flex;
}

.--grid {
    display: grid;
}

.--hidden {
    width: 0px;
    height: 0px;
}

.--no-dot {
    list-style: none;
}

.dark-mode {
    background: #000;
    transition: all 200ms ease;

    & h1, & h2 {
    color: #DBE3FF;
    }

    & h3, & h4, & h5, & p {
        color: #EBEAF5;
    }
}

.--pill {
    display: flex;
    border-radius: 2rem;
}

.--blue {
    background: #DBE3FF;
    color: #88A4E8;
}

.--grey {
    border: 2px solid #BFBEC4;
    color: #C3C1C7;
}