@import url(./base.css);

.__showing-list {
    grid-template-rows: 3fr 1fr ;
    gap: .5rem 1.5rem;
    overflow-y: scroll;
    padding: 1rem;

    & .__item {
        grid-row: 1 / -1;
        min-width: 12rem;
        grid-template-rows: subgrid;
        & .__poster {
            width: 100%;
            border-radius: .5rem;
            box-shadow: 0 0 .75rem #828282;
        }
    }
}

